# Hypothesis Testing

### 1. State the Hypotheses statement



*   The theoretical weekly operating cost model is W=1000+5X
*   Given, the number of units produced pper week has MuX=600


*   Expected weekly cost is MuW=1000+5(600)= 4000
*   Null Hypothesis(H0): The mean weekly operating cost is equal to the theoretical cost. i.e H0: MuW = 4000

*   Alternative Hypothesis(H1): The mean weekly operating cost is greater than the theoretical cost. i.e H1: MuW > 4000

### 2. Calculate the Test Statistic

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Given Values
x_bar = 3050 #sample mean weekly cost
mu = 1000 + 5*600 #theoretical mean weekly cost
sigma = 5 *25 #standard deviation of weekly cost
n=25 #sample size

In [3]:
#calculating the standard error
std_error = sigma/np.sqrt(n)
std_error

np.float64(25.0)

In [4]:
#calculating the z-statistic
z_stats = x_bar - mu/std_error
z_stats

np.float64(2890.0)

In [7]:
# creating dataframes
results_df = pd.DataFrame({
    "Sample Mean (x̄)": [x_bar],
    "Theoretical Mean (μ)": [mu],
    "Population Std Dev (σ)": [sigma],
    "Sample Size (n)": [n],
    "Standard Error": [std_error],
    "Z Test Statistic": [z_stats]
})
results_df

,Sample Mean (x̄),Theoretical Mean (μ),Population Std Dev (σ),Sample Size (n),Standard Error,Z Test Statistic
0,3050,4000,125,25,25.0,2890.0

### 3. Determining the Probability

In [8]:
from scipy import stats

In [9]:
# Given Values
z = -38
alpha = 0.05

In [10]:
#Right-tailed p-value
p_value = 1 - stats.norm.cdf(z)
p_value

np.float64(1.0)

### 4. Making a Decision



*   alpha = 0.05
*   z = -38 (test statistic)

*   z(0.05) = 1.645
*   Decision: Reject H0 if z>1.645

*   since -38 < 1.645
*   So we failed to reject the null hypothesis

### 5. Conclusion

At the 5% significance level, there is no evidence to support the restaurant owners’ claim that the weekly operating costs are higher than predicted by the cost model. In fact, the observed sample mean cost is significantly lower than the theoretical mean.